<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header class="header-admin">
        <div class="td">
            <h1>ADMIN</h1>
        </div>
        <div class="menu">
            <ul>
                <li><a href="admin.html">Trang chu</a></li>
                <li><a href="danhmuc.html">Loai hang</a></li>
                <li><a href="">Hang hoa</a></li>
                <li><a href="">Khach Hang</a></li>
                <li><a href="">Binh luan</a></li>
                <li><a href="">Thong ke</a></li>
            </ul>
        </div>
        
    </header>
<section>
    <svg width="80" height="80"   >

    </svg>
</section>
    <div class="row">
        <div class="row-header" >
            <h1>Them moi loai hang</h1>
        </div>
        <div class="row-content">
            <form action="" method="post">
                <div class="row">
                    <label for="">Ten loai</label><br>
                    <input type="text" name="tenloai" placeholder="nhap ten loai...">
                </div>
                <div class="row-btn">
                    <input type="submit" value="Them">
                    <input type="reset" value="Nhap Lai">
                    <a href="danhmuc.html"><input type="button" value="Danh sach"></a>
                </div>
                
            </form>
        </div>
    </div>
    <footer>
        <p>Copyright © 2020. All rights reserved</p>
    </footer>
</body>
</html>