<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body >
    <header>
        <div class="td">
            <h1>SIEU THI TRUC TUYEN</h1>
        </div>
        <div class="menu">
            <ul>
                <li><a href="index.html">Trang chu</a></li>
                <li><a href="">Gioi thieu</a></li>
                <li><a href="">Lien he</a></li>
                <li><a href="">Gop y</a></li>
                <li><a href="">Hoi dap</a></li>
                <li><a href="login.html">Dang nhap</a></li>
            </ul>
        </div>
       
    </header>
    <svg width="80" height="75">

    </svg>
    <div class="product-content">
        <div class="product">
            <div class="detail">
                <div class="detail-image">
                    <img src="img/demo18/products/product-10.jpg" alt="">
                </div>
                <div class="detail-content">
                    <h1>
                        Backpack Sfs Responder</h1>
                        <h3>$1,699.00</h3>
                        <p>Pellentesque habitant morbi tristique senectus <br> 
                            et netus et malesuada fames ac turpis egestas. <br>Vestibulum tortor quam, feugiat vitae, 
                            ultricies eget, tempor sit amet, ante. <br>Donec eu libero sit amet quam egestas semper.
                             Aenean ultricies <br> mi vitae est. Mauris placerat eleifend leo.</p>
                        
                        <button>Add to cart</button>
                
                    </div>
            </div>
        </div>

        <div class="review-content">
            

            

            
        </div>
        <div class="row-content">
            <h1>Reviews</h1>
            <form action="">
                <div class="row">
                    <label for="">Your review*</label><br>
                    <input type="text" name="" id="">
                </div>
                <div class="row">
                    <label for="">Name*</label><br>
                    <input type="text" name="" id="">
                </div>
                <div class="row">
                    <label for="">Email*</label><br>
                    <input type="email" name="" id="">
                </div>
                <div class="row">
                    <input type="checkbox" name="" id=""> Save my name, email, and website in this browser for the next time I comment.
                </div>
                <div class="row">
                    
                    <input type="submit" value="submit">
                </div>
            </form>
        </div>
    </div>
    <footer>
        <p>Copyright © 2020. All rights reserved</p>
    </footer>
</body>
</html>