<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header class="header-admin">
        <div class="td">
            <h1>Dang nhap</h1>
        </div>
        <div class="menu">
            <ul>
                <li><a href="index.html">Trang chu</a></li>
                <li><a href="">Gioi thieu</a></li>
                <li><a href="">Lien he</a></li>
                <li><a href="">Gop y</a></li>
                <li><a href="">Hoi dap</a></li>
            </ul>
        </div>
        
    </header>
<section>
    <svg width="80" height="80"   >

    </svg>
</section>
    <div class="row">
        <div class="row-header" >
            <h1>Dang ki tai khoan</h1>
        </div>
        <div class="row-content">
            <form action="" method="post">
                
                <div class="row">
                    <label for="">Ten dang nhap</label><br>
                    <input type="text" name="ten" placeholder="nhap ten...">
                </div>
                <div class="row">
                    <label for="">Email</label><br>
                    <input type="email" name="email" placeholder="nhap email...">
                </div>
                <div class="row">
                    <label for="">Mat khau</label><br>
                    <input type="text" name="pass" placeholder="nhap mat khau...">
                </div>

                <div class="row">
                    <label for="">Nhap lai mat khau</label><br>
                    <input type="text" name="repass" placeholder="nhap lai mat khau...">
                </div>
   
                <div class="row-btn">
                   <button>Dang ki</button>
                </div>
                
            </form>
        </div>
    </div>
    <footer>
        <p>Copyright © 2020. All rights reserved</p>
    </footer>
</body>
</html>