<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body >
    <header>
        <div class="td">
            <h1>SIEU THI TRUC TUYEN</h1>
        </div>
        <div class="menu">
            <ul>
                <li><a href="">Trang chu</a></li>
                <li><a href="">Gioi thieu</a></li>
                <li><a href="">Lien he</a></li>
                <li><a href="">Gop y</a></li>
                <li><a href="">Hoi dap</a></li>
                <li><a href="login.html">Dang nhap</a></li>
            </ul>
        </div>
        <form action="" class="search" >
            <input type="text" name="" id="" placeholder="Tim kiem" required>
            <button>Tim</button>
        </form>
    </header>
    <svg width="80" height="75">

    </svg>
    <div class="slide-show">
        <div class="list-images">
            <img src="img/2.png" alt="" id="anh">
            <img src="img/1.png" alt="" id="anh">
            <img src="img/2.png" alt="" id="anh">
            <img src="img/1.png" alt="" id="anh">
            <img src="img/2.png" alt="" id="anh">
            <img src="img/1.png" alt="" id="anh">
            <img src="img/2.png" alt="" id="anh">
            <img src="img/1.png" alt="" id="anh">
            <img src="img/2.png" alt="" id="anh">
            <img src="img/1.png" alt="" id="anh">
            <img src="img/2.png" alt="" id="anh">
            <img src="img/1.png" alt="" id="anh">
            <img src="img/2.png" alt="" id="anh">
            <img src="img/1.png" alt="" id="anh">
            <img src="img/2.png" alt="" id="anh">
            <img src="img/1.png" alt="" id="anh">
            <img src="img/2.png" alt="" id="anh">
            <img src="img/1.png" alt="" id="anh">
            <img src="img/2.png" alt="" id="anh">
            <img src="img/1.png" alt="" id="anh">
            <img src="img/2.png" alt="" id="anh">
            <img src="img/1.png" alt="" id="anh">
            <img src="img/2.png" alt="" id="anh">
            <img src="img/1.png" alt="" id="anh">
        </div>
    </div>
        
    
    <main>
        <aside>
            <div class="danhmuc">
                <h3>Danh muc san pham</h3>
            <ul>
                <li><a href="">Danh muc 1</a></li>
                <li><a href="">Danh muc 2</a></li>
                <li><a href="">Danh muc 3</a></li>
                <li><a href="">Danh muc 1</a></li>
                <li><a href="">Danh muc 2</a></li>
                <li><a href="">Danh muc 3</a></li>
                <li><a href="">Danh muc 1</a></li>
                <li><a href="">Danh muc 2</a></li>
            
            </ul>
            </div>
            
            <div class="top">
                <h3>Top 10 san pham yeu thich</h3>
                <div class="top-sp">
                    <img src="img/demo18/products/product-1.jpg" alt="">
                    <a href="">Backpack Sfs Responder</a>
                </div>
                <div class="top-sp">
                    <img src="img/demo18/products/product-1.jpg" alt="">
                    <a href="">Backpack Sfs Responder</a>
                </div>
                <div class="top-sp">
                    <img src="img/demo18/products/product-1.jpg" alt="">
                    <a href="">Backpack Sfs Responder</a>
                </div>
                <div class="top-sp">
                    <img src="img/demo18/products/product-1.jpg" alt="">
                    <a href="">Backpack Sfs Responder</a>
                </div>
                <div class="top-sp">
                    <img src="img/demo18/products/product-1.jpg" alt="">
                    <a href="">Backpack Sfs Responder</a>
                </div>
                <div class="top-sp">
                    <img src="img/demo18/products/product-1.jpg" alt="">
                    <a href="">Backpack Sfs Responder</a>
                </div>
                <div class="top-sp">
                    <img src="img/demo18/products/product-1.jpg" alt="">
                    <a href="">Backpack Sfs Responder</a>
                </div>
                <div class="top-sp">
                    <img src="img/demo18/products/product-1.jpg" alt="">
                    <a href="">Backpack Sfs Responder</a>
                </div>
                <div class="top-sp">
                    <img src="img/demo18/products/product-1.jpg" alt="">
                    <a href="">Backpack Sfs Responder</a>
                </div>
                <div class="top-sp">
                    <img src="img/demo18/products/product-1.jpg" alt="">
                    <a href="">Backpack Sfs Responder</a>
                </div>
                
            </div>
           
        </aside>
        <article>
            <div class="sanpham">
                
                <div class="sp">
                    <img src="img/demo18/products/product-1.jpg" alt="">
                    <p><a href="">Backpack Sfs Responder</a></p>
                    <h3>$185.00</h3>
                </div>
                
                
                <div class="sp">
                    <img src="img/demo18/products/product-1.jpg" alt="">
                    <p><a href="">Backpack Sfs Responder</a></p>
                    <h3>$185.00</h3>
                </div>
                <div class="sp">
                    <img src="img/demo18/products/product-1.jpg" alt="">
                    <p><a href="">Backpack Sfs Responder</a></p>
                    <h3>$185.00</h3>
                </div>
                <div class="sp">
                    <img src="img/demo18/products/product-1.jpg" alt="">
                    <p><a href="">Backpack Sfs Responder</a></p>
                    <h3>$185.00</h3>
                </div>
                <div class="sp">
                    <img src="img/demo18/products/product-1.jpg" alt="">
                    <p><a href="">Backpack Sfs Responder</a></p>
                    <h3>$185.00</h3>
                </div>
                <div class="sp">
                    <img src="img/demo18/products/product-1.jpg" alt="">
                    <p><a href="">Backpack Sfs Responder</a></p>
                    <h3>$185.00</h3>
                </div>
                             
            </div>
            
        </article>
    </main>
    <footer>
        <p>Copyright © 2020. All rights reserved</p>
    </footer>
</body>
</html>
<script>
//   var listImages = document.querySelector('.list-images')
//   var imgs = document.getElementsByTagName('img')
//   var length = imgs.length
//   var current = 0;

//   setInterval(() => {
//     if (current == length - 1) {
//        current = 0;
//        listImages.style.transform = `translateX(0px)`
//     }else{
//         current++
//         let width = imgs[0].offsetWidth
//         listImages.style.transform = `translateX(${ width * -1 * current}px)`
//     }
// }    , 4000
// )

var x = ['img/2.png','img/1.png'];
var i = 0;
var interval;
var img = document.querySelector('img');
var length = x.length;
// function next(){
//     i++;
//     if(i >= x.length){
//         i = 0;
//     }
//     document.querySelector('img').src = x[i];
// }

setInterval(function(){
    i++;
    if(i >= x.length){
        i = 0;
    }
    img.src = x[i];
}, 4000);


// function start(){
//     interval = setInterval(next, 4000); 
// }

// start();

</script>